

/*  */
/* =============================================================================
   Responsive Table CSS
   ========================================================================== */
   

  /*  */
  .product-box {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling for individual product information */
  .product-info {
    flex: 1;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .product-info p {
    margin: 0;
    padding: 5px 0;
    font-size: 16px;
  }
  
  .product-id {
    font-weight: bold;
  }
  
  .total-price {
    color: #ff5722; /* Change the color to your preference */
  }
  
  /* Styling for the buttons */
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .button {
    padding: 10px 20px;
    margin: 5px 0;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3; /* Button background color on hover */
  }
  
  /* Media query for responsive design */
  @media (max-width: 768px) {
    .product-box {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
    }
  
    .product-info p {
      font-size: 14px;
    }
  
    .buttons {
      flex-direction: row;
    }
  
    .button {
      margin: 0 5px;
    }
  }


/* table */
order-details-box {
  width: 700px;
  max-width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.order-details-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-details-header p {
  margin: 0;
}

.order-details-content {
  padding: 20px;
}
.search-container2{
  margin-left: 145px;
}

@media (max-width: 600px) {
  .order-details-box {
    width: 90%;
    margin: 20px auto;
  }
}

@media (max-width:768px){
  .search-container2{
margin: auto;    width:100%;
  }
  .textWidth{
   
    word-wrap: break-word;
  }
}
.buttonTransaction{
  float: right;
  margin-right: 150px
}


  
  
  
  
  
  
  