.container-offer {
  font-size: 24px;
  width: 49%; /* Set the width to 49% for both elements */
 margin-left: 0.5%;
 margin-right: 0.5%;
 margin-bottom: 5px;
  display: inline-block; /* Display the divs as inline-block elements */
  
}
.container-offer3 {
  font-size: 24px;
  width: 49%; /* Set the width to 49% for both elements */
 margin-left: 0.5%;
 margin-right: 0.5%;
 margin-bottom: 5px;
  display: inline-block; /* Display the divs as inline-block elements */
  
}
.container-offer2 {
  font-size: 24px;
  width: 49%; /* Set the width to 49% for both elements */
 margin-left: 0.5%;
 margin-right: 0.5%;
  display: inline-block; /* Display the divs as inline-block elements */
}

.container-offer-box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.heading-offer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.heading img {
  width: 100px;
  height: 100px;
}

.content-flex {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.content-flex img {
  width: 200px;
  height: 200px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.content p {
  font-size: 20px;
}

@media (max-width: 768px) {
  .container-offer {
    font-size: 14px;
    width: 98%;
  }
  .container-offer2{
    display: none;
  }
  .content p {
    font-size: 12px;
  }
  .container-offer3 {
    
    width: 98%;
    margin-top: 2px;
    margin-bottom: 5px;
  }
  .banner{
    
    margin-bottom: 3px;
  }
 
}

@media (min-width: 768px) {
  /* Add styles for larger screens if needed */
  .container-offer3 {
    
    display: none; /* Display the divs as inline-block elements */
    
  }
  .banner{
    display: none;
  }
}
