.app {
    background: #a8d5e5;
    margin-top: -21px;
}
h1 {
    color: #165a72;
    margin: 50px auto;
    font-size: 40px;
}
.menu1 {
    margin-bottom: 40px;
    margin-top: 20px;
}
h2 {
    color: #165a72;
}
.sidebar-container {
    display: flex;
  }
  
  .sidebar {
    width: 25%; /* Adjust the width as needed */
    padding: 20px;
  }
  
  .right-side {
    flex: 1; /* Take remaining space */
    padding: 20px;
  }