.strip {
  width: 100%;
  margin-top: 4px;

  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* You can adjust the padding as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.strip-content {
  /* max-width: 100%; */
  margin: auto auto;
  display: flex;
  width: 100%;
  align-items: center;
  height: 50px;
  padding: 0;
  /* justify-content: space-between; Add this to align .strip-right to the right */
}

.strip-right {
  list-style: none;
 
  padding: 0;
 margin-top: auto;
 margin-bottom: auto;
 /* Add margin to .strip-right to push it to the right */
}

.strip-right li {
  
  
  float:right;
  font-size: 20px;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
}

.UlText {
  color: black;
  
  
}

.search-container2 {
  /* margin-top: -10px; */
  margin-top: auto;
  margin-bottom: auto;
}

.search-container2 input[type="text"] {
  width: 350px;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  color: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Add shadow to the input */
}

.search-container2 button {
  height: 45px;
  width: 40px;
  /* margin-left: -5px; */
  background: #141617;
  border: 0;
  color: #fff;
  font-size: 17px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Add shadow to the button */
}

/* Media queries */
@media (max-width: 768px) {
  .strip-right {
    display: none; /* Hide the left side (search bar) on small devices */
  }
  .offerIcon{
    display: none; /* Hide the left side (search bar) on small devices */
  }
  .search-container2 input[type="text"] {
    width: 300px;
    height: 45px;
    padding: 10px;
    border: 1px solid #ccc;
    color: black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Add shadow to the input */
  }
  .search-container2 button {
    margin-top: auto;
    margin-bottom: auto;
    height: 46px;
    width: 40px;
    /* margin-left: -5px; */
    background: #141617;
    border: 0;
    color: #fff;
    font-size: 17px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Add shadow to the button */
  }
  
 

}



@media (min-width: 768px) {
  .search-container2 {
    margin-left: 80px;
  }
  .strip-right {
    list-style: none;
    padding: 0;
    float: right;
  }  
  .strip-right li {
   
    float:right;
    font-size: 20px;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .UlText {
    color: black;
    
  }
  .UlText:hover{
    color: blue;
  }
  .offerIcon{
    margin-right: 110px;
  }
  .offerIcon:hover{
    color: blue;
  }
}
